<!doctype html>
<html >
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="ui/SyntaxHilighter/atelier-plateau.dark.css">
    <script src="ui/SyntaxHilighter/highlight.pack.js"></script>
    <script src="clipboard.min.js"></script>
        
    <link rel="stylesheet" href="poly_common.css">
  </head>
  <body style="margin:0px;" ng-app>
<div class="left_nav">
    <a class="anchors" href="index_poly.html">
        <img class="logo" src="ui/poly_icon.svg" alt="">
        <p class="title">poly</p>
    </a>    
    
    <div class="theContent">      
     <ul class="input-list style-4 clearfix">
            <p class="sub">Total Hockey Email Template v1</p>
    <li>
      <input type="text" ng-model="main_title" placeholder="Enter alt text here..." placeholder="Enter alt text here...">
    </li>            
    <li>
      <input type="text" ng-model="main_link" placeholder="Enter main link here..." placeholder="insert main link...">
    </li>
    <li>
      <input type="text" ng-model="main_image" placeholder="enter main image link here..." placeholder="insert main image link">
    </li>
  </ul>
<div class="cta">GET CODE</div>

   
<p class="version">Poly is the simplest example of angular.js you'll see this week! <br> Michael Reagan | v0.1.0</p>      
    </div>
</div> 
<!-- CONTENT-PRIMARY -->  
<div class="code_contain">
    <div class="theCode">
        <pre  style="display: none">
            <code class="html"></code>
        </pre>
    </div>
<!-- the .cta_copy and textarea NEED to be next to eachother -->
    <div class="cta_copy" data-clipboard-target="#copy_text" style="display: none">COPY CODE</div>
    <textarea id="copy_text"></textarea>
   
</div>
<div class="content-primary">
    <div id="output" class="content_primary_container">
        <!-- {{{{{{{{{{{{{{{{{{{{{{ output }}}}}}}}}}}}}}}}}}}}}}-->
<tr>
<table>
                <td id="innerContent" align="center" >
                    <table align="center" border="0" cellpadding="0"
                    cellspacing="0" class="wrapper" style="width: 640px;">
                        <tbody>
                            <tr>
                                <td height="95%">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" class="wrapper" style=
                                    "width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td width="640">
                                                    <a href=
                                                    "{{main_link}}" alt="{{main_title}}">
                                                    <img alt=
                                                    "{{main_title}}"
                                                    border="0" height="900"
                                                    src="{{main_image}}"
                                                    width="640"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </table><!-- END MAIN MARKETING MESSAGE -->
        <!-- /{{{{{{{{{{{{{{{{{{{{{{ output }}}}}}}}}}}}}}}}}}}}}}-->
    </div>
</div>
<script>
$( document ).ready(function() {
        console.log( "ready!" );
    $( ".cta" ).click(function() {
    // get the innercontent set, get its html
    var someHtmlString = $("#innerContent").html();
    // set the code text string:
    $("code").text(someHtmlString);
    $("#copy_text").text(someHtmlString);
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
        //copy to clipboard

      });
      $( "pre" ).toggle( "fast" );
      $( ".cta_copy" ).toggle( "fast" );
    });
$( ".cta_copy" ).click(function() {
                    new Clipboard('.cta_copy', {
                    target: function(trigger) {
                    return trigger.nextElementSibling;
                }
            });
    });
});
</script>
  </body>
</html>